:root{
    --blue:#003663;
    --dark-blue:#0d4f9a;
    --light-dark-blue:#0B4F9A;
    --medium-blue:#3c7aae;
    --light-grey:#FDFDFE;
    --parrot:#2BB24C;
}

.main{
    background-color: var(--light-grey);
}

.nav-link{
    color: var(--medium-blue);
    font-weight: 500px;
}

.border-card{
    border-color: var(--dark-blue);
}

.card-btn{
    background-color: var(--parrot);
}
.card-head-color{
    background-color: var(--dark-blue);
}

.bg-blue{
    background-color: var(--blue);
}
.bg-dark-blue{
    background-color: var(--dark-blue);
}

.bg-light-dark-blue{
    background-color: var(--light-dark-blue);
}

.bd-right-green{
    border-right-color:var(--parrot) ;
    border-width: 3px;
}

.list-group-item {
    background-color: transparent; 
    border: none; 
    list-style-type: disc !important;

  }
  .list-group {
    padding-left: 20px; 
  }

  .custom-embed {
    width: 100%; 
    height: 500px; 
    margin: auto; 
  }
  .custom-embed-bottom {
    width: 80%; 
    height: 400px; 
    margin: auto; 
  }


  .reviews{
    position: fixed;
    background-color: var(--blue);
    top: 312px;
    transform: rotate(-90deg);
    margin: 0;
    font-weight: 100;
    width: 90px;
    height: 30px;
    z-index:100;
}