:root{
    --video-blue:#0156B8;
    --blue:#003663;
    --dark-blue:#0d4f9a;
    --light-dark-blue:#0B4F9A;
    --medium-blue:#3c7aae;
    --light-grey:#FDFDFE;
    --parrot:#2BB24C;
    --plus-blue:#94B5D3;
    --package-head-color:#215FA9;
    --red:#DB421D;
}








.main{
    background-color: var(--light-grey);
    font-family: Lato, HelveticaNeue, Helvetica Neue, sans-serif;
}

.nav-link{
    color: var(--medium-blue);
}


.bg-blue{
    background-color: var(--blue);
}
.bg-dark-blue{
    background-color: var(--dark-blue);
}

.bg-light-dark-blue{
    background-color: var(--light-dark-blue);
}
.bg-video{
    background-color: var(--video-blue);
}

.bd-right-green{
    border-right-color:var(--parrot) ;
    border-width: 3px;
}














/*  */





/* Review fixed div */
.reviews{
    position: fixed;
    background-color: var(--light-dark-blue);
    top: 312px;
    transform: rotate(-90deg) translateY(-40px);
    font-weight: normal;
    font-size: 14px;
    width: 120px;
    height: 50px;
    z-index:100;
}




















/* vertical corousal 
 */

  .vertical-corousal-img{
        width: 100px;
        height: 105px;
    
 } 





 


 .watch-btn{
    font-size: 16px;
    width: 270px;
    height: 60px;
    color:var(--light-dark-blue);
    border-color: var(--light-dark-blue);
    border-width: 3px;
    font-weight: 700;

}


.watch-btn-section
{
    position: relative;
    display: inline-block;
}


.watch-btn-section::before
{
    content: '';
    position: absolute;
    top: 30%;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-top-color: var(--light-dark-blue);
    transform:rotate(-90deg) translateY(10px);
}



/* horizontal-slider */

.horizontal-corousal-img{
    width: 100px;
    height: 100px;
}

.horizontal-corousal-head{
    color:var(--dark-blue);
    font-size: 16px;
}

.horizontal-slider{
    width: 520px;
}

  





/*  zoom image*/

.ageless-head{
    font-size: 26px;
    color: var(--light-dark-blue);
    font-weight: 500;
}

.review-star{
    width: 55%;
    object-fit: contain;
}

.ageless-review-link{
    font-size:13px;
}
.zoom-section{
    width: 400px;
    
}
.zoom-img{
    width:440px; 
    height:450px;
}


/*  */
.bottom-banner-img{
    width: 400px;
}






/* Cards */


.package-head{
    color: var(--package-head-color);
    font-size: 26px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: var(--light-dark-blue);

}
.nav-link{
    color: var(--light-dark-blue );

}
.nav-link:hover {
       color: var(--light-dark-blue );
    
}
.tab-one-time-purchase{
    width: 310px;
    height: 55px;
    font-size: 18px;
    border: 2px solid var(--light-dark-blue);  
}

.subscribe-tab{
    width: 310px;
    height: 55px;
    color: var(--light-dark-blue );
    font-size: 18px;
    border: 2px solid var(--light-dark-blue);    
}


.card{
    border-radius: 0;
    border-color:var(--light-dark-blue ) ;
    width: 190px;
    height: 270px;
}
.card-popular{
    width: 200px;
    height: 320px;
}
.card-btn{
    background-color: var(--parrot);
}
.card-head-bg-color{
    background-color: var(--dark-blue);
}

.card-head-color{
    color:var(--dark-blue);
}
.card-head-popular{
    height:38px;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
}

.btn-flavor{
    width: 150px;
    font-size: 16px;
    height: 60px;
}
.num-pack{
    color:var(--parrot);
    font-size: 36px;
    line-height: 1;
}
.save-percentage{
    color:var(--red);
    font-size: 24px;
}

.card-subscribe-one{
    height: 400px;
}

.card-subscribe-two{
    height: 360px;
}
.card-subscribe-three{
    height: 360px;
}
.sale-cut{
    font-size:25px;
}
.save-percentage-subscribe{
    color:var(--red);
    font-size: 20px;
    font-weight: 500;
}
.weeks{
    font-size: 23px;
    color:var(--dark-blue);
    font-weight: 100;
}

.package-cards{
    width: 50%;
}





/* Seperator */
.horizontal-seperator{
    width: 100%;
    border-top: 5px solid var(--dark-blue);
    opacity: 1;
}



/* list */

.list-head{
    Font-size: 20px;
  Font-style: normal;
  Font-weight: 500;
}
.list-sub-head{
    Font-size: 16px;
  Font-style: normal;
  Font-weight: 500;
}
.plus-symbol{
    color:var(--plus-blue);
}
.list-group { 
    line-height: 2;
}
.list-text{
    font-size: 15px;
}



/* Subscription description with logos */

.discription{
    height: 120px;

}

.money-back-img{
    width: 50px;
    height: 50px;
    transform: translateY(-30px);
}
.benefit-cards-text{
    width:248px;
    height: 51px;
    font-weight: normal;
}




/* Review feedback section */

.featured-review-head{
    Font-size: 56px;
    Font-style: normal;
    Font-weight: 500;
    text-align: right;
}
.more-review-link{
    Font-size: 22px;
    Font-style: normal;
    Font-weight: 300;
    color: var(--parrot);
}
.vertical-seperator-main{
    width: 70px;
}
.vertical-seperator {
    position: relative;
    width: 9px;
    height: 85%;
    background-color: var(--parrot);
    z-index: 55;
    transform: translateX(30px);
  }  
  .stars {
    width: 30%;
    height: 20%;
    object-fit: contain;
  }
  .coffee-text{
    Font-size: 24px;
    Font-style: normal;
    Font-weight: 500;
  }
  .author-name {
    Font-size: 24px;
    Font-style: italic;
    Font-weight: 500;
  }
  .verified-buyer{
    Font-size: 24px;
    Font-style: normal;
    Font-weight: 500;
    color: var(--parrot);
  }



/* Videos styling */
.custom-embed {
    width: 100%; 
    height: 480px; 
    margin: auto; 
  }
  .custom-embed-bottom {
    width: 85%; 
    height: 200px; 
    margin: auto; 
  }





@media (min-width: 1281px) and (max-width:1300px) {

}

@media (max-width: 1024px) {
    .zoom-img{
        width:320px;
        height: 300px;
    }
    .package-cards{
        width: 40%;
    }

    .tab-one-time-purchase{
        width: 240px;
  
    }
    
    .subscribe-tab{
        width: 240px;   
    }

    .card{
        width: 160px;
        height: 270px;
    }
    .card-popular{
        width: 170px;
        height: 320px;
    }
    .btn-flavor{
        width: 110px;
        font-size: 16px;
        height: 60px;
    }
    .bottom-banner-img{
        width: 300px;
    }
    
}



@media (max-width: 980px) {

    .w-sm-25 {
        width: 25%;
    }
   

    .benefit-cards-text{
        width: 129px;
        height: 77px;
    }

    .money-back-img {
        transform: translateY(-20px);
}
    .featured-review-head {
        Font-size: 36px;
    }

    .vertical-seperator{
        height: 60%;
    }

    .coffee-text {
        Font-size: 20px;
    }



    .tab-one-time-purchase{
        width: 165px;
        height: 65px;
        font-size: 16px;
    }

    .subscribe-tab{
        width: 165px;
        height: 65px;
        font-size: 16px;  
    }


    .card{
        border-radius: 0;
        border-color:var(--light-dark-blue ) ;
        width: 360px;
        height: 100px;
    }
    .card-popular{
        width: 360px;
        height: 100px;
        border-color:var(--parrot) ;
    }

    .cards-package-heads{
        font-size: 22px;
    }

    .cards-subscribe-heads{
        font-size: 16px;
    }
    .num-pack{
        font-size: 16px;
    }
    .btn-flavor{
        width: 120px;
        font-size: 16px;
        height: 60px;
    }

    .save-percentage{
        font-size: 14px;
    }

    .card-subscribe-one{
        height: 170px;
        border-color:var(--parrot) ;
    }

    .most-popular-text{
        font-style: italic;
        color: var(--light-dark-blue);
        font-size: 14px;
        font-weight: 700;
    }
    .card-subscribe-two{
        height: 170px;
    }
    .card-subscribe-three{
        height: 170px;
    }
    .sale-cut{
        font-size:25px;
    }
    .save-percentage-subscribe{
            font-size: 16px;
    }

    .package-cards{
        width: 50%;
    }
    .vertical-corousal-medium-img{
        height: 340px;
        width: 300px;
    }

    .carousel-control-next-icon {
        background-image: none;
    }

    .carousel-control-prev-icon {
        background-image: none;
    }
    .vertical-prev:before {
        content: "\f104";
        font-family: FontAwesome;
        color: #cdcdcf;
        font-size: 48px;
    }

    .vertical-next:before {
        content: "\f105";
        font-family: FontAwesome;
        color: #cdcdcf;
        font-size: 48px;
    }

    .horizontal-next::before{
        content: "\f105";
        font-family: FontAwesome;
        color: #000000;
        font-size: 48px;
        font-weight: normal;
    }

    .horizontal-prev::before{
        content: "\f104";
        font-family: FontAwesome;
        color: #000000;
        font-size: 48px;
        font-weight: normal;
    }

}



  @media (max-width: 767px) {

    .discription{
        height: 190px;
        width: 50%;
        font-size: 16px;
    
    }
    .benefit-cards-text{
        width: 170px;
        font-weight: normal;

    }   
    .vertical-seperator-main{
        width:100%;
    } 
    .vertical-seperator {
        position: relative;
        width: 80%;
        height: 85%;
        background-color: var(--parrot);
        z-index: 55;
        transform: translateX(40px) translateY(-30px);
      }  

      .featured-head-section{
        width: 50%;
        margin: auto;
      }
      .featured-review-head{
        text-align: center;
      }
      .stars{
        height: 16%;
      }


      .featured-card{
        height: 580px;
      }
}

