:root{
    --video-blue:#0156B8;
    --blue:#003663;
    --dark-blue:#0d4f9a;
    --light-dark-blue:#0B4F9A;
    --medium-blue:#3c7aae;
    --light-grey:#FDFDFE;
    --parrot:#2BB24C;
    --plus-blue:#94B5D3;
    --package-head-color:#215FA9;
    --red:#DB421D;
}

/* Main containers styling */

.main{
    background-color: var(--light-grey);
    font-family: Lato, HelveticaNeue, Helvetica Neue, sans-serif;
}
.bg-blue{
    background-color: var(--blue);
}
.bg-dark-blue{
    background-color: var(--dark-blue);
}
.bg-light-dark-blue{
    background-color: var(--light-dark-blue);
}
.bg-video{
    background-color: var(--video-blue);
}
.bd-right-green{
    border-right-color:var(--parrot) ;
    border-width: 3px;
}


/* Nav section bread crumbs */
.nav-link{
    color: var(--medium-blue);
}


/* Review fixed bar */
.reviews{
    position: fixed;
    background-color: var(--light-dark-blue);
    top: 312px;
    transform: rotate(-90deg) translateY(-40px);
    font-weight: normal;
    font-size: 14px;
    width: 120px;
    max-width: 100%;
    height: 50px;
    max-height: 100%;
    z-index:100;
}


/* vertical corousal */

.vertical-corousal-img{
    max-width: 100px;
    width: 100%;
    max-height:105px ;
    height: 100% ; 

} 
.watch-btn{
    font-size: 16px;
    min-width:  270px;
    width:100%;
    min-height: 60px;
    height: 100%;
    color:var(--light-dark-blue);
    border-color: var(--light-dark-blue);
    border-width: 3px;
    font-weight: 700;
}
.watch-btn-section
{
    position: relative;
    display: inline-block;
}
.watch-btn-section::before
{
    content: '';
    position: absolute;
    top: 30%;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-top-color: var(--light-dark-blue);
    transform:rotate(-90deg) translateY(10px);
}


/* horizontal-slider */

.horizontal-corousal-img{
    max-width:73px ;
    width:100% ;
    max-height: 73px;
    height: 100%;
}
.horizontal-corousal-head{
    color:var(--dark-blue);
    font-size: 16px;
}
.horizontal-slider{
    min-width: 520px;
    width: 100% ;
}
.horizontal-next::before{
    transform: translateX(-40px);
}
.horizontal-prev::before{
    transform: translateX(70px);
}
.carousel-item{
    max-width: 99%;
    width: 100%;
}


/*  zoom image*/

.ageless-head{
    font-size: 25px;
    color: var(--light-dark-blue);
    font-weight: 600;
}
.review-star{
    max-width: 55%;
    width: 100%;
    object-fit: contain;
}
.ageless-review-link{
    font-size:13px;
}
.zoom-section{
    max-width:400px ;
    width: 100%; 
}
.zoom-img{
    min-width:440px; 
    width: 100%;
    min-height:450px;
    height: 100%;
}


/* Bottom banner image */
.bottom-banner-img{
    max-width: 400px;
    width: 100%;
}


/* Package Cards */

.package-head{
    color: var(--package-head-color);
    font-size: 26px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: var(--light-dark-blue);
}
.nav-link{
    color: var(--light-dark-blue );
}
.nav-link:hover {
    color: var(--light-dark-blue );
}
.tab-one-time-purchase{
    min-width: 310px;
    width: 100% ;
    min-height:55px ;
    height: 100% ;
    font-size: 18px;
    border: 2px solid var(--light-dark-blue);  
}
.subscribe-tab{
    min-width:310px ;
    width: 100%;
    min-height: 55px;
    height: 100%;
    color: var(--light-dark-blue );
    font-size: 18px;
    border: 2px solid var(--light-dark-blue);    
}
.card{
    border-radius: 0;
    border-color:var(--light-dark-blue ) ;
    min-width: 190px;
    width: 100%;
    min-height:270px;
    height: 100%;
}
.card-popular{
    min-width:200px ;
    width: 100%;
    min-height: 320px;
    height: 100%;
}
.card-btn{
    background-color: var(--parrot);
}
.card-head-bg-color{
    background-color: var(--dark-blue);
}
.card-head-color{
    color:var(--dark-blue);
}
.card-head-popular{
    min-height:38px ;
    height:100%;
    font-size: 20px;
    font-weight: 500;
    max-width: 100%;
    width: 100%;
}
.btn-flavor{
    max-width: 150px;
    width: 100%;
    font-size: 16px;
    max-height: 60px;
    height: 100%;
}
.num-pack{
    color:var(--parrot);
    font-size: 36px;
    line-height: 1;
}
.save-percentage{
    color:var(--red);
    font-size: 24px;
}
.card-subscribe-one{
    max-height: 400px;
    height: 100%;
}
.card-subscribe-two{
    max-height: 360px;
    height: 100%;
}
.card-subscribe-three{
    max-height: 360px;
    height: 100%;
}
.sale-cut{
    font-size:25px;
}
.save-percentage-subscribe{
    color:var(--red);
    font-size: 20px;
    font-weight: 500;
}
.weeks{
    font-size: 23px;
    color:var(--dark-blue);
    font-weight: 100;
}
.package-cards{
    max-width: 50%;
    width: 100%;
}


/* Seperator */

.horizontal-seperator{
    max-width: 100%;
    width: 100%;
    border-top: 5px solid var(--dark-blue);
    opacity: 1;
}


/* list */

.list-head{
    Font-size: 20px;
    Font-style: normal;
    Font-weight: 500;
}
.list-sub-head{
    Font-size: 16px;
    Font-style: normal;
    Font-weight: 500;
}
.plus-symbol{
    color:var(--plus-blue);
}
.list-group { 
    line-height: 2;
}
.list-text{
    font-size: 15px;
}


/* Subscription description with logos */

.discription{
    max-height: 120px;
    height: 100%;
}
.money-back-img{
    max-width: 50px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    transform: translateY(-30px);
}
.benefit-cards-text{
    max-width: 248px;
    width: 100%;
    min-height: 51px;
    height: 100%;
    font-weight: normal;
}


/* Review feedback section */

.featured-review-head{
    Font-size: 56px;
    Font-style: normal;
    Font-weight: 500;
    text-align: right;
    line-height: 1.25;
}
.more-review-link{
    Font-size: 22px;
    Font-style: normal;
    Font-weight: 300;
    color: var(--parrot);
}
.vertical-seperator-main{
    max-width:  70px;
    width: 100%;
}
.vertical-seperator {
    position: relative;
    max-width: 9px;
    width: 100%;
    max-height: 85%;
    height:100% ;
    background-color: var(--parrot);
    z-index: 55;
    transform: translateX(30px);
}  
.stars {
    max-width:30% ;
    width: 100%;
    max-height: 20%;
    height: 100%;
    object-fit: contain;
}
.coffee-text{
    Font-size: 24px;
    Font-style: normal;
    Font-weight: 500;
}
.author-name {
    Font-size: 24px;
    Font-style: italic;
    Font-weight: 500;
}
.verified-buyer{
    Font-size: 24px;
    Font-style: normal;
    Font-weight: 500;
    color: var(--parrot);
}


/* Videos styling */

.custom-embed {
    min-width: 100%;
    width: 100%; 
    min-height:480px ;
    height: 100%; 
    margin: auto; 
}
.custom-embed-bottom {
    min-width:  95%;
    width: 100%; 
    min-height:190px ;
    height: 100%; 
}


@media (min-width: 1281px) and (max-width:1300px) {

}

@media (max-width: 1024px) {
    .zoom-img{
        min-width: 320px;
        width:100%;
        min-height: 300px;
        height: 100%;
    }
    .package-cards{
        max-width: 40%;
        width: 100%;
    }
    .tab-one-time-purchase{
        min-width: 240px;
        width: 100%;
    }
    .subscribe-tab{
        min-width: 240px;
        width: 100%;
    }
    .card{
        min-width:160px ;
        width:100% ;
        min-height: 270px;
        height: 100%;
    }
    .card-popular{
        min-width:170px ;
        width: 100% ;
        min-height: 320px;
        height: 100%;
    }
    .btn-flavor{
        max-width: 110px;
        width: 100%;
        font-size: 16px;
        max-height: 60px;
        height: 100%;
    }
    .bottom-banner-img{
        max-width: 300px;
        width: 100%;
    }
}

@media (max-width: 980px) {
    .w-sm-25 {
        max-width: 25%;
        width: 100% ;
    }
    .benefit-cards-text{
        max-width: 129px;
        width: 100%;
        max-height: 77px;
        height: 100%;
    }
    .money-back-img {
        transform: translateY(-20px);
    }
    .featured-review-head {
        Font-size: 36px;
    }
    .vertical-seperator{
        max-height: 60%;
        height: 100%;
    }
    .coffee-text {
        Font-size: 20px;
    }
    .tab-one-time-purchase{
        min-width: 165px;
        width: 100%;
        max-height: 65px;
        height: 100%;
        font-size: 16px;
    }
    .subscribe-tab{
        min-width: 165px;
        width: 100%;
        max-height: 65px;
        height: 100%;
        font-size: 16px;  
    }
    .card{
        border-radius: 0;
        border-color:var(--light-dark-blue ) ;
        min-width: 360px;
        width: 100%;
        min-height: 100px;
        height: 100%;
    }
    .card-popular{
        max-width:  360px;
        width: 100%;
        max-height: 100px;
        height: 100%;
        border-color:var(--parrot) ;
    }
    .cards-package-heads{
        font-size: 22px;
    }
    .cards-subscribe-heads{
        font-size: 16px;
    }
    .num-pack{
        font-size: 16px;
    }
    .btn-flavor{
        min-width: 120px;
        width:100% ;
        font-size: 16px;
        min-height:60px ;
        height: 100% ;
    }
    .save-percentage{
        font-size: 14px;
    }
    .card-subscribe-one{
        max-height:  170px;
        height: 100%;
        border-color:var(--parrot) ;
    }
    .most-popular-text{
        font-style: italic;
        color: var(--light-dark-blue);
        font-size: 14px;
        font-weight: 700;
    }
    .card-subscribe-two{
        max-height:  170px;
        height: 100%;    }
    .card-subscribe-three{
        max-height:  170px;
        height: 100%;    }
    .sale-cut{
        font-size:25px;
    }
    .save-percentage-subscribe{
        font-size: 16px;
    }
    .package-cards{
        max-width: 50%;
        width: 100%;
    }
    .vertical-corousal-medium-img{
        min-height: 340px;
        height: 100%;
        min-width: 300px;
        width: 100%;
    }
    .carousel-control-next-icon {
        background-image: none;
    }
    .carousel-control-prev-icon {
        background-image: none;
    }
    .carousel-indicators [data-bs-target]{
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: rgb(225, 224, 224);
        transform: translateY(30px);
    }
    /* .corousal-indicators .active [data-bs-target]{
        background-color: var(--light-dark-blue) ;
    } */
    .vertical-prev:before {
        content: "\f104";
        font-family: FontAwesome;
        color: #cdcdcf;
        font-size: 48px;
    }
    .vertical-next:before {
        content: "\f105";
        font-family: FontAwesome;
        color: #cdcdcf;
        font-size: 48px;
    }
    .horizontal-next::before{
        content: "\f105";
        font-family: FontAwesome;
        color: #000000;
        font-size: 48px;
        font-weight: normal;
    }
    .horizontal-prev::before{
        content: "\f104";
        font-family: FontAwesome;
        color: #000000;
        font-size: 48px;
        font-weight: normal;
    }
    .ageless-head-mobile{
        font-size: 22px;
        color: var(--light-dark-blue);
        font-weight: 600;
    }
}

  @media (max-width: 767px) {
    .discription{
        min-height:190px ;
        height: 100%;
        max-width: 50%;
        width: 100%;
        font-size: 16px;
    }
    .ageless-head-mobile{
        font-size: 16px;
        color: var(--light-dark-blue);
        font-weight: 600;
    }
    .benefit-cards-text{
        max-width: 170px;
        width: 100%;
        font-weight: normal;
    }   
    .vertical-seperator-main{
        max-width: 100%;
        width:100%;
    } 
    .vertical-seperator {
        position: relative;
        max-width: 80%;
        width: 100%;
        max-height: 85%;
        height: 100%;
        background-color: var(--parrot);
        z-index: 55;
        transform: translateX(40px) translateY(-30px);
      }  
      .featured-head-section{
        max-width: 50%;
        width: 100%;
        margin: auto;
      }
      .featured-review-head{
        text-align: center;
      }
      .stars{
        max-height: 16%;
        height: 100%;
      }
      .featured-card{
        min-height: 580px;
        height: 100%;
      }

      .custom-embed{
        width: 100%;
        max-width: 100%;
      }
      .custom-embed-bottom{
        width: 100%;
        max-width: 100%;
        transform: translateY(-150px);
      }
      .package-cards{
        max-width: 400px;
        width: 100%;
      }

}