:root{
    --video-blue:#0156B8;
    --blue:#003663;
    --dark-blue:#0d4f9a;
    --light-dark-blue:#0B4F9A;
    --medium-blue:#3c7aae;
    --light-grey:#FDFDFE;
    --parrot:#2BB24C;
    --plus-blue:#94B5D3;
    --package-head-color:#215FA9;
    --red:#DB421D;
    --nav-hover-blue:#8CAFCF;
}

/* Main containers styling */

.main{
    background-color: var(--light-grey);
    font-family: 'Lato';
}
.bg-blue{
    background-color: var(--blue);
}
.bg-dark-blue{
    background-color: var(--dark-blue);
}
.bg-light-dark-blue{
    background-color: var(--light-dark-blue);
}
.bg-video{
    background-color: var(--video-blue);
}
.bd-right-green{
    border-right-color:var(--parrot) ;
    border-width: 3px;
}


/* Nav section bread crumbs */
.breadcrumb-item {
    color: var(--medium-blue) !important;
}

.breadcrumb-item:hover{
    color:var(--nav-hover-blue) !important;
}


/* Review fixed bar */
.reviews{
    position: fixed;
    background-color: var(--light-dark-blue);
    top: 312px;
    transform: rotate(-90deg) translateY(-40px);
    font-weight: normal;
    font-size: 14px;
    width: 120px;
    max-width: 100%;
    height: 50px;
    max-height: 100%;
    z-index:100;
}


/* vertical corousal */

.vertical-container {
    position: relative;
    width: 100%; 
    height: 600px; 
    overflow: hidden;
}
.vertical-corousal {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
}
.vertical-item {
    transform: translateY(40px);
    height: 900px;
    width: 60px;
}
.vertical-corousal-img {
    width: 80px; 
    height: 80px;
}
.vertical-corousal-img:hover{
    opacity: 0.6;
}
.multi-vertical-prev, .multi-vertical-next{
    position: absolute;
    transform: translateX(-50%);
}
.multi-vertical-prev {
    left:43%;
    top: 0;
    transform: translateY(-20px);
}
.multi-vertical-next {
    left:55%;
    bottom: 0;
}

.multi-vertical-prev::before {

    content: "\f106";
    font-family: FontAwesome;
    color: #bfbbbb;
    font-size: 38px;
    font-weight: normal;
}
.multi-vertical-next::before {
    content: "\f107";
    font-family: FontAwesome;
    color: #b6b3b3;
    font-size: 38px;
    font-weight: normal;
}
.multi-vertical-prev, .multi-vertical-next {
    background-color: transparent; 
    border: none; 
}

.vertical-prev:before {
    content: "\f104";
    font-family: FontAwesome;
    color: #cdcdcf;
    font-size: 48px;
}
.vertical-next:before {
    content: "\f105";
    font-family: FontAwesome;
    color: #ffffff;
    font-size: 48px;

} 

/* watch button */
.watch-btn{
    font-size: 16px;
    min-width:  270px;
    width:100%;
    min-height: 60px;
    height: 100%;
    color:var(--light-dark-blue);
    border-color: var(--light-dark-blue);
    border-width: 3px;
    font-weight: 700;
    background-color:#FEFEFE;
}
.watch-btn-section
{
    position: relative;
    display: inline-block;
}
.watch-btn-section::before
{
    content: '';
    position: absolute;
    top: 30%;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-top-color: var(--light-dark-blue);
    transform:rotate(-90deg) translateY(10px);
}


/* horizontal-slider */

.horizontal-corousal-img{
    max-width:150px ;
    width:100% ;
    max-height: 150px;
    height: 100%;
}
.horizontal-corousal-head{
    color:var(--dark-blue);
    font-size: 16px;
    font-weight: 900;
}
.horizontal-slider{
    max-width: 800px;
    width: 100% ;
}
.horizontal-corousal-img:hover{
    opacity: 0.3;
}
.horizontal-prev, .horizontal-next{
    background-color: rgba(93, 92, 92, 0.5);
    width: 45px;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer; 
}

.carousel-item{
    max-width: 99%;
    width: 100%;
}
.carousel-control-next-icon,.carousel-control-prev-icon 
{
    display: none;   
}

.horizontal-next::before{
    content: "\f105";
    font-family: FontAwesome;
    color: #393737;
    font-size: 40px;
    font-weight: normal;
}
.horizontal-prev::before{
    content: "\f104";
    font-family: FontAwesome;
    color: #393737;
    font-size: 40px;
    font-weight: normal;
}



/*  zoom image*/

.ageless-head{
    font-size: 26px;
    color: var(--light-dark-blue);
    font-weight: 700;
}
.review-star{
    max-width: 55%;
    width: 100%;
    object-fit: contain;
}

.review-stars-corousal{
    max-width: 30%;
    width: 100%;
    object-fit: contain;
}
.ageless-review-link{
    font-size:13px;
    color: #2f84ed ;
    font-weight: 500;
}
.ageless-review-link:hover{
    color: #C5DEF0;
}
/* .zoom-section{
    max-width:30% ;
    width: 100%; 
} */
.zoom-img{
    min-width:440px; 
    width: 100%;
    min-height:450px;
    height: 100%;
}
.video-slider{
    min-width:400px;
    width: 100%;
    min-height:450px;
    height: 100%;
}

#image-selected{
    overflow: hidden;
}

#image-selected img {
    cursor: zoom-in;
    transition: transform 0.25s ease;
}

#image-selected img.magnify {
    cursor: zoom-out;
}


/* Bottom banner image */
.bottom-banner-img{
    max-width: 400px;
    width: 100%;
}


/* Package Cards */

.package-head{
    color: var(--light-dark-blue);
    font-size: 26px;
    font-weight: 700;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: var(--light-dark-blue);
    font-weight: 700;
}
.nav-link{
    color: var(--light-dark-blue );
}
.nav-link:hover {
    color: var(--light-dark-blue );
}
.tab-one-time-purchase{
    min-width: 295px;
    width: 100% ;
    max-height:55px ;
    height: 100% ;
    font-size: 18px;
    border: 2px solid var(--light-dark-blue);  
}
.subscribe-tab{
    min-width:290px ;
    width: 100%;
    max-height: 55px;
    height: 100%;
    color: var(--light-dark-blue );
    font-size: 18px;
    border: 2px solid var(--light-dark-blue);  
    position: relative;  
}

.question-mark-tooltip{
    width: 18px;
    height: 18px;
    font-size: 18px;
    color: white;
    background-color: var(--parrot);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translate(280px, -70px);
}

.tooltip-inner {
    max-width: 310px !important; 
    width: 100%;
    max-height: 400px;
    height: 100%;
    background-color: white;
    color: rgb(87, 83, 83);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

} 

.tooltip-head{
    font-size: 26px;
    font-weight: 700;
    font-family: 'lato' !important;
}
.tooltip-text{
    font-size: 11.2px;
    font-weight: 400;
    font-family: 'lato' !important;

}


.btn:hover {
    color: white;
    background-color: var(--parrot); 
    border-color:var(--parrot);
}

.card{
    border-radius: 0;
    border-color:var(--light-dark-blue ) ;
    max-width: 190px;
    width: 100%;
    min-height:270px;
    height: 100%;
}
.card-popular{
    min-width:200px ;
    width: 100%;
    min-height: 320px;
    height: 100%;
}
.card-btn{
    background-color: var(--parrot);
}

.pack{
    font-weight: 700;
    font-size: 34px;
}
.card-head-bg-color{
    background-color: var(--dark-blue);
}
.card-head-color{
    color:var(--dark-blue);
}
.card-head-popular{
    min-height:38px ;
    height:100%;
    font-size: 20px;
    font-weight: 500;
    max-width: 100%;
    width: 100%;
}
.btn-flavor{
    max-width: 150px;
    width: 100%;
    font-size: 16px;
    max-height: 60px;
    height: 100%;
}
.num-pack{
    color:var(--parrot);
    font-size: 36px;
    line-height: 1;
    font-weight: 700;
}
.price{
    font-size: 36px;
    font-weight: 700;
}
.save-percentage{
    color:var(--red);
    font-size: 24px;
    font-weight: 700;
}
.card-subscribe-one{
    max-height: 400px;
    height: 100%;
}
.card-subscribe-two{
    max-height: 360px;
    height: 100%;
}
.card-subscribe-three{
    max-height: 360px;
    height: 100%;
}
.sale-cut{
    font-size:25px;
}
.save-percentage-subscribe{
    color:var(--red);
    font-size: 20px;
    font-weight: 700;
}
.weeks{
    font-size: 23px;
    color:var(--dark-blue);
    font-weight: 100;
}
.package-cards{
    max-width: 50%;
    width: 100%;
}


/* Seperator */

.horizontal-seperator{
    max-width: 100%;
    width: 100%;
    border-top: 5px solid var(--dark-blue);
    opacity: 1;
}


/* list */

.list-head{
    Font-size: 20px;
    Font-style: normal;
    Font-weight: 700;
}
.list-sub-head{
    Font-size: 16px;
    Font-style: normal;
    Font-weight: 700;
}
.plus-symbol{
    color:var(--plus-blue);
}
.list-group { 
    line-height: 1.75;
}
.list-text{
    font-size: 16px;
}


/* Subscription description with logos */

.discription{
    max-height: 120px;
    height: 100%;
}
.money-back-img{
    max-width: 50px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    transform: translateY(-30px);
}
.benefit-cards-text{
    max-width: 248px;
    width: 100%;
    min-height: 51px;
    height: 100%;
    font-weight: normal;
}


/* Review feedback section */

.featured-review-head{
    Font-size: 56px;
    Font-style: normal;
    Font-weight: 700;
    text-align: right;
    line-height: 1.25;
}
.more-review-link{
    Font-size: 22px;
    Font-style: normal;
    Font-weight: 300;
    color: var(--parrot);
}
.vertical-seperator-main{
    max-width:  70px;
    width: 100%;
}
.vertical-seperator {
    position: relative;
    max-width: 9px;
    width: 100%;
    max-height: 85%;
    height:100% ;
    background-color: var(--parrot);
    z-index: 55;
    transform: translateX(30px);
}  
.stars {
    max-width:30% ;
    width: 100%;
    max-height: 20%;
    height: 100%;
    object-fit: contain;
}
.coffee-section{
    font-weight: 700;
}
.coffee-text{
    Font-size: 24px;
    Font-style: normal;
}
.author-name {
    Font-size: 24px;
    Font-style: italic;
    Font-weight: 500;
}
.verified-buyer{
    Font-size: 24px;
    Font-style: normal;
    Font-weight: 500;
    color: var(--parrot);
}


/* Videos styling */

.product-video-head {
    font-weight: 700;
    font-size: 35px;
}
.custom-embed {
    max-width: 100%;
    width: 100%; 
    min-height:550px ;
    height: 100%; 
    margin: auto; 
}
 .custom-embed-bottom {
    max-width: 100%;
    width: 100%; 
    min-height:270px ;
    height: 100%; 
} 



@media (min-width: 1650px) {

    .tab-one-time-purchase{
        min-width: 450px;
        width: 100% ;
        max-height:45px ;
        height: 100% ;

    }
    .subscribe-tab{
        min-width:450px ;
        width: 100%;
        max-height: 45px;
        height: 100%;
   
    }
    .question-mark-tooltip{
        transform: translate(440px, -70px);
    }
    .card{
        border-radius: 0;
        border-color:var(--light-dark-blue ) ;
        min-width: 300px;
        width: 100%;
        min-height:270px;
        height: 100%;
    }
    .card-popular{
        min-width:300px ;
        width: 100%;
        min-height: 320px;
        height: 100%;
    }
    
    .multi-vertical-prev {
        transform: translateX(10px);
    }
       
    .multi-vertical-next {
        transform: translateX(-25px);
    }
    .carousel-item{
        max-width: 100%;
        width: 100%;
    }
    .ageless-head{
        text-align: start !important;
        font-size: 26px;
        width: 600px;
    }
     .custom-embed-bottom {
        max-width: 100%;
        width: 100%; 
        min-height:400px ;
        height: 100%; 
    } 
    .btn-flavor{
        max-width: 200px;
        width: 100%;
    }

    .horizontal-prev{
        transform: translateX(50px);
    }
    .horizontal-next{
        transform: translateX(-55px);
    }
}

@media (max-width: 1024px) {

    .horizontal-corousal-img{
        max-width:100px ;
        width:100% ;
        max-height: 100px;
        height: 100%;
    }
    .horizontal-corousal-head{
        color:var(--dark-blue);
        font-size: 16px;
        font-weight: 900;
    }
    .horizontal-slider{
        max-width: 500px;
        width: 100% ;
    }

    .video-slider{
        min-width:250px;
        width: 100%;
        min-height:250px;
        height: 100%;
    }

    .zoom-img{
        min-width: 320px;
        width:100%;
        min-height: 300px;
        height: 100%;
    }
    .package-cards{
        max-width: 48%;
        width: 100%;
    }
    .tab-one-time-purchase, .subscribe-tab{
        min-width: 230px;
        width: 100%;
    }

    .display-one-time-purchase{
        max-width: 40%;
        width: 100%;
    }

    .num-pack{
        font-size: 28px;
    }

    .card{
        min-width: 165px;
        width: 100%;
    }
    .question-mark-tooltip{
        transform: translate(220px, -70px);
    }
}

@media (max-width: 980px) {
    .bottom-banner-img-mobile{
        max-width: 367px ;
        width: 100%;
        max-height: 50px;
        height: 100%;
    }
    .horizontal-corousal-img{
        max-width:60px ;
        width:100% ;
        max-height: 60px;
        height: 100%;
    }
    .horizontal-corousal-head{
        color:var(--dark-blue);
        font-size: 16px;
        font-weight: 900;
    }
    .horizontal-slider{
        max-width: 300px;
        width: 100% ;
    }
    .w-sm-25 {
        max-width: 25%;
        width: 100% ;
    }
    .benefit-cards-text{
        max-width: 129px;
        width: 100%;
        max-height: 77px;
        height: 100%;
    }
    .money-back-img {
        transform: translateY(-10px);
    }
    .featured-review-head {
        Font-size: 32px;
    }
    .vertical-seperator{
        max-height: 60%;
        height: 100%;
    }
    .tab-one-time-purchase{
        min-width: 165px;
        width: 100%;
        max-height: 65px;
        height: 100%;
        font-size: 16px;
    }
    .subscribe-tab{
        min-width: 165px;
        width: 100%;
        max-height: 65px;
        height: 100%;
        font-size: 16px;  
    }
    .question-mark-tooltip{
        transform: translate(175px, -80px);
    }
    .card{
        border-radius: 0;
        border-color:var(--light-dark-blue ) ;
        min-width: 360px;
        width: 100%;
        min-height: 100px;
        height: 100%;
    }
    .card-popular{
        max-width:  360px;
        width: 100%;
        max-height: 100px;
        height: 100%;
        border-color:var(--parrot) ;
    }
    .cards-package-heads{
        font-size: 22px;
    }
    .cards-subscribe-heads{
        font-size: 16px;
    }
    .num-pack{
        font-size: 14px;
    }
    .free-shipping {
        font-size: 13px;
    }
    .btn-flavor{
        min-width: 120px;
        width:100% ;
        font-size: 16px;
        min-height:60px ;
        height: 100% ;
    }
    .save-percentage{
        font-size: 14px;
    }
    .card-subscribe-one{
        max-height:  170px;
        height: 100%;
        border-color:var(--parrot) ;
    }
    .most-popular-text{
        font-style: italic;
        color: var(--light-dark-blue);
        font-size: 14px;
        font-weight: 700;
    }
    .card-subscribe-two{
        max-height:  170px;
        height: 100%;    }
    .card-subscribe-three{
        max-height:  170px;
        height: 100%;    }

    .weeks{
        line-height: 0;
    }
    .sale-cut{
        font-size:25px;
    }
    .save-percentage-subscribe{
        font-size: 16px;
    }
    .package-cards{
        max-width: 50%;
        width: 100%;
    }

    .horizontal-slider {
        width: 100%;
    }

    .vertical-corousal-medium-img{
        min-height: 340px;
        height: 100%;
        min-width: 300px;
        width: 100%;
    }
     .carousel-control-next-icon,.carousel-control-prev-icon 
    {
        display: none;   
    }

    .carousel-indicators [data-bs-target]{
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color:#CFD0D0;
        transform: translateY(30px);
    } 

      .carousel-indicators .active {
        background-color: var(--light-dark-blue) !important;
    } 
   
    .vertical-prev:before {
        content: "\f104";
        font-family: FontAwesome;
        color: #cdcdcf;
        font-size: 48px;
    }
    .vertical-next:before {
        content: "\f105";
        font-family: FontAwesome;
        color: #cdcdcf;
        font-size: 48px;
    }
    .horizontal-next::before{
        content: "\f105";
        font-family: FontAwesome;
        color: #000000;
        font-size: 48px;
        font-weight: normal;
    }
    .horizontal-prev::before{
        content: "\f104";
        font-family: FontAwesome;
        color: #000000;
        font-size: 48px;
        font-weight: normal;
    }
    .ageless-head-mobile{
        font-size: 26px;
        color: var(--light-dark-blue);
        font-weight: 700;
    }
    .coffee-section{
        font-weight: 700;
        font-size: 24px;
    }

    .custom-embed {
        max-width: 100%;
        width: 100%; 
        min-height:420px ;
        height: 100%; 
        margin: auto; 
    }
     .custom-embed-bottom {
        max-width: 100%;
        width: 100%; 
        min-height:170px ;
        height: 100%; 
    } 
}

@media (max-width: 767px) {
    .discription{
        min-height:190px ;
        height: 100%;
        max-width: 50%;
        width: 100%;
        font-size: 16px;
    }
    .ageless-head-mobile{
        font-size: 16px;
        color: var(--light-dark-blue);
        font-weight: 600;
    }
    .benefit-cards-text{
        max-width: 170px;
        width: 100%;
        font-weight: normal;
    }   
    .vertical-seperator-main{
        max-width: 95%;
        width:100%;
        height: 15px;   
    } 
    .vertical-seperator {
        position: relative;
        max-width: 80%;
        width: 100%;
        max-height: 85%;
        height: 100%;
        background-color: var(--parrot);
        z-index: 55;
        transform: translateX(40px) translateY(-30px);
    }  
    .featured-head-section{
        max-width: 50%;
        width: 100%;
        margin: auto;
    }
    .featured-review-head{
        text-align: center;
    }
    .stars{
        max-height: 16%;
        height: 100%;
    }
    .featured-card{
        min-height: 580px;
        height: 100%;
    }

    .custom-embed{
        min-height: 260px;
        height: 100%;
    }
    
    .package-cards{
        max-width: 480px;
        width: 100%;
    }
    .card-body{
        text-align: left !important;
    }
}